doctype html
html(lang="ru")
  head
    title='Headers and footers'
    style
      include styles/headersandfooters.css
  body
    .circle
      img(src='../colorsandtype/images/logo_1.svg')
    
    - let logosource = './images/Logo.svg';

    .header.header-logged-out
      .logo
        img(src=logosource)    
      .nav
        .nav__item.nav__item_bold О нас
        .nav__item Услуги
        .nav__link
          img(src='images/expand_more.svg')
        .nav__item Вакансии
        .nav__item Новости
        .nav__item Соглашения
        .nav__link
          img(src='images/expand_more.svg')
      .buttons
        button.button.button_login
          .button__text войти
        button.button.button_register
          .button__text зарегистрироваться
    
    .header.header-logged-in
      .logo
        img(src=logosource)
      .nav.nav-logged-in
        .nav__item.nav__item_bold О нас
        .nav__item Услуги
        .nav__link
          img(src='images/expand_more.svg')
        .nav__item Вакансии
        .nav__item Новости
        .nav__item Соглашения
        .nav__link
          img(src='images/expand_more.svg')
      .header__vertical-border
      .header__username Юлий Цезарь
    
    .footer.footer-indent
      .container-footer
        .footer__logotext
          .footer__logo
            img(src=logosource)
          .footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-list.footer-list_navigation
          .footer-list__item.footer-list__item_head Навигация
          .footer-list__item О нас
          .footer-list__item Новости
          .footer-list__item Служба поддержки
          .footer-list__item Услуги
        .footer-list.footer-list_about
          .footer-list__item.footer-list__item_head О нас
          .footer-list__item О сервисе
          .footer-list__item Наша команда
          .footer-list__item Вакансии
          .footer-list__item Инвесторы
        .footer-list.footer-list_support
          .footer-list__item.footer-list__item_head Служба поддержки
          .footer-list__item Соглашения
          .footer-list__item Сообщества
          .footer-list__item Связь с нами 
        .footer-list.footer-list__subscribe
          .footer-list__item.footer-list__item_head.footer-list__item_head-subscribe Подписка
          .footer-list__item.footer-list__item_news Получайте специальные предложения и новости сервиса
          input(placeholder='Email').input
          button.arrow.arrow_input
            img(src='images/arrow_forward.svg')  
    
    .header
      .copyright-text.copyright-text-footer Copyright © 2018 Toxin отель. Все права защищены.
      .social.social_footer
        a(href="https://twitter.com/") 
          img(src="images/twitter.svg", alt="")
        a(href="https://www.facebook.com/") 
          img(src="images/facebook.svg", alt="")
        a(href="https://www.instagram.com/") 
          img(src="images/instagram.svg", alt="")

    .footer-mobile.footer-mobile-uikit
      .footer-mobile__logo
        img(src=logosource)
      .copyright-text.footer-mobile__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
      .social
        a(href="https://twitter.com/") 
          img(src="images/twitter.svg", alt="")
        a(href="https://www.facebook.com/") 
          img(src="images/facebook.svg", alt="")
        a(href="https://www.instagram.com/") 
          img(src="images/instagram.svg", alt="")