doctype html
html(lang="ru")
  head
    title=pageTitle
    style
      include styles/headersandfooters.css
  body
    .circle
      img(src="../colorsandtype/images/logo_1.svg")
    .wrap
      .header
        .logo
          img(src="./images/logo.svg")
        .wrap 
          ul.nav
            li.nav__item.nav_bold О нас
            li.nav__item.nav_thin Услуги
            li.nav__link
              img(src='images/expand_more.svg')
            li.nav__item.nav_thin Вакансии
            li.nav__item.nav_thin Новости
            li.nav__item.nav_thin Соглашения
            li.nav__link
              img(src='images/expand_more.svg')
        .wrap
          button.login-btn
            p.btn-text войти
          button.register-btn
            p.btn-text зарегистрироваться
    .wrap2
      .header
        .logo
          img(src="images/logo.svg")
        .wrap2 
          ul.nav
            li.nav__item.nav_bold О нас
            li.nav__item.nav_thin Услуги
            li.nav__link
              img(src='images/expand_more.svg')
            li.nav__item.nav_thin Вакансии
            li.nav__item.nav_thin Новости
            li.nav__item.nav_thin Соглашения
            li.nav__link
              img(src='images/expand_more.svg')
        .border
        p.cesar Юлий Цезарь
    .wrap
      .footer
        .container
          .logo-foot
            img(src="images/logo.svg")
          p.text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .container
          ul.footer-list
            li.footer-list__item.footer-list_head Навигация
            li.footer-list__item О нас
            li.footer-list__item Новости
            li.footer-list__item Служба поддержки
            li.footer-list__item Услуги
        .container2
          ul.footer-list
            li.footer-list__item.footer-list_head О нас
            li.footer-list__item О сервисе
            li.footer-list__item Наша команда
            li.footer-list__item Вакансии
            li.footer-list__item Инвесторы
        .container3
          ul.footer-list
            li.footer-list__item.footer-list_head Служба поддержки
            li.footer-list__item Соглашения
            li.footer-list__item Сообщества
            li.footer-list__item Связь с нами
        .container4
          ul.footer-list.footer-list__subscribe
            li.footer-list__item.footer-list_head Подписка
            li.footer-list__item.footer-list_news Получайте специальные предложения и новости сервиса
            .input
              input.input(
              type='text'
              name=''
              value='   Email'
              button=''       
            )
              button.arrow
                img(src='images/arrow_forward.svg')
    .wrap3 
      .header        
        .wrap  
          p.copyright-text Copyright © 2018 Toxin отель. Все права защищены.
        .wrap 
          .social
            a(href="#") 
              img(src="images/twitter.svg", alt="")
            a(href="#") 
              img(src="images/facebook.svg", alt="")
            a(href="#") 
              img(src="images/instagram.svg", alt="")
    .wrap 
      .footer-mobile
        .logo-mobfoot
          img(src="images/logo.svg")
        .wrap2  
          p.copyright-text Copyright © 2018 Toxin отель. Все права защищены.
        .wrap2  
          .social
            a(href="#") 
              img(src="images/twitter.svg", alt="")
            a(href="#") 
              img(src="images/facebook.svg", alt="")
            a(href="#") 
              img(src="images/instagram.svg", alt="")