doctype html
html(lang="ru")
  head
    title=pageTitle
    style
      include styles/headersandfooters.css
  body
    .circle
      img(src="../colorsandtype/images/logo_1.svg")
    .header.header-logged-out
      .logo
        img(src="images/logo.svg")        
      .nav
        .nav__item.nav__item_bold О нас
        .nav__item Услуги
        .nav__link
          img(src='images/expand_more.svg')
        .nav__item Вакансии
        .nav__item Новости
        .nav__item Соглашения
        .nav__link
          img(src='images/expand_more.svg')
      .buttons
        button.button.button_login
          .button__text войти
        button.button.button_register
          .button__text зарегистрироваться
    .header.header-logged-in
      .logo
        img(src="images/logo.svg")
      .nav.nav-logged-in
        .nav__item.nav__item_bold О нас
        .nav__item Услуги
        .nav__link
          img(src='images/expand_more.svg')
        .nav__item Вакансии
        .nav__item Новости
        .nav__item Соглашения
        .nav__link
          img(src='images/expand_more.svg')
      .header__vertical-border
      .header__username Юлий Цезарь
    .footer.footer-indent
      .column
        .footer__logo
          img(src="images/logo.svg")
        .text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer-list
        .footer-list__item.footer-list_head Навигация
        .footer-list__item О нас
        .footer-list__item Новости
        .footer-list__item Служба поддержки
        .footer-list__item Услуги
      .footer-list
        .footer-list__item.footer-list_head О нас
        .footer-list__item О сервисе
        .footer-list__item Наша команда
        .footer-list__item Вакансии
        .footer-list__item Инвесторы
      .footer-list
        .footer-list__item.footer-list_head Служба поддержки
        .footer-list__item Соглашения
        .footer-list__item Сообщества
        .footer-list__item Связь с нами 
      .footer-list.footer-list__subscribe
        .footer-list__item.footer-list_head Подписка
        .footer-list__item.footer-list_news Получайте специальные предложения и новости сервиса
        .input
          input.input(
          type='text'
          name=''
          value='   Email'
          button=''                   
          )
          button.arrow
            img(src='images/arrow_forward.svg')  
//    .wrap3 
      .header        
        .wrap  
          p.copyright-text Copyright © 2018 Toxin отель. Все права защищены.
        .wrap 
          .social
            a(href="#") 
              img(src="images/twitter.svg", alt="")
            a(href="#") 
              img(src="images/facebook.svg", alt="")
            a(href="#") 
              img(src="images/instagram.svg", alt="")
    .wrap 
      .footer-mobile
        .logo-mobfoot
          img(src="images/logo.svg")
        .wrap2  
          p.copyright-text Copyright © 2018 Toxin отель. Все права защищены.
        .wrap2  
          .social
            a(href="#") 
              img(src="images/twitter.svg", alt="")
            a(href="#") 
              img(src="images/facebook.svg", alt="")
            a(href="#") 
              img(src="images/instagram.svg", alt="")