doctype html
html(lang="en")
  head
    title=pageTitle
    style
      include styles/formelements.css
  body
    .circle
      img(src="../colorsandtype/images/logo_1.svg")
    .column.margin
      .block
        .text-wrap
          p.text-bold text field
          p.text-default default
        div
          input.input(
          type='text'
          name=''
          value='   Email'
          button=''
          )
      .block
        .text-wrap
          p.text-bold text field
          p.text-default hover/focus
        div
          input.input.input_focus.input_text(
          type='text'
          name=''
          value='   This is pretty awesome'
          button=''
          )
      .block
        .text-wrap
          p.text-bold dropdown
        div
          input.input.input_text(
          type='text'
          name=''
          value='   Сколько гостей'
          button=''
          )
          button.arrow.arrow-position
            img(src='/ui_kit/headersandfooters/images/expand_more.svg')
      .block
        .text-wrap
          p.text-bold masked text field
        div
          input.input(
          type='text'
          name=''
          value='   ДД.ММ.ГГ'
          button=''
          )
      .block2
        .wrap-lilinput
          .text-wrap
            p.text-bold date dropdown
          div
            input.input.input_little(
            type='text'
            name=''
            value='   ДД.ММ.ГГ'
            button=''
            )
            button.arrow.arrow-position
              img(src='/ui_kit/headersandfooters/images/expand_more.svg')
        .wrap2-lilinput
          .text-wrap
            p.text-bold date dropdown
          div
            input.input.input_little(
            type='text'
            name=''
            value='   19.08.2019'
            button=''
            )
            button.arrow.arrow-position
              img(src='/ui_kit/headersandfooters/images/expand_more.svg')
      .block
        .text-wrap
          p.text-bold filter date dropdown
        div
          input.input.input_medium.input_text(
          type='text'
          name=''
          value='   19 авг - 23 авг'
          button=''
          )
          button.arrow.arrow-position
            img(src='/ui_kit/headersandfooters/images/expand_more.svg')
      .block.block_last
        .text-wrap
          p.text-bold subscription text field
        div
          input.input.input_medium(
          type='text'
          name=''
          value='   Email'
          button=''
          )
          button.arrow.arrow2-position
            img(src='/ui_kit/headersandfooters/images/arrow_forward.svg')
      .block
        .text-wrap.text-wrap_medium
          p.text-bold dropdown
          p.text-default default
        div
          input.input.input_text.input_medium.input_halfborder(
          type='text'
          name=''
          value='   2 спальни, 2 кровати...'
          button=''
          )
          button.arrow.arrow-position
            img(src='/ui_kit/headersandfooters/images/expand_more.svg')
      .block
        .text-wrap.text-wrap_medium
          p.text-bold dropdown
          p.text-default expanded
        div
          input.input.input_text.input_focus.input_medium.input_halfborder(
          type='text'
          name=''
          value='   2 спальни, 2 кровати...'
          button=''
          )
          button.arrow.arrow-position
            img(src='/ui_kit/headersandfooters/images/expand_more.svg')
      .block
        .dropdown
            div
              p.text-bold спальни
              p.text-bold кровати
              p.text-bold ванные комнаты
            .column
              .counter-row
                .circle-button
                  .circle-button__minus 
                p.text-bold 2
                .circle-button 
                  .circle-button__plus-h
                    .circle-button__plus-v
              .counter-row
                .circle-button
                  .circle-button__minus 
                p.text-bold 2
                .circle-button 
                  .circle-button__plus-h
                    .circle-button__plus-v
              .counter-row
                .circle-button.circle-button_border-light
                  .circle-button__minus.circle-button_light
                p.text-bold 0
                .circle-button
                  .circle-button__plus-h
                    .circle-button__plus-v
      .block
        .text-wrap
          p.text-bold expandable checkbox list
          button.arrow.arrow-position3
              img(src='/ui_kit/headersandfooters/images/expand_more.svg')
      .block
        .text-wrap
          p.text-bold expandable checkbox list
          button.arrow.arrow-position3
              img(src='/ui_kit/formelements/images/expand_more.svg')
        .column 
          .row
            .checkbox.chkbx-wrap
            p.margin.text-default.text-default_lowercase Завтрак
          .row
            .checkbox.checkbox_blue.chkbx-wrap
              img.checked(src='/ui_kit/formelements/images/checked.svg')
            p.margin.text-default.text-default_lowercase Письменный стол
          .row
            .checkbox.checkbox_blue.chkbx-wrap
              img.checked(src='/ui_kit/formelements/images/checked.svg')
            p.margin.text-default.text-default_lowercase Стул для кормления
          .row
            .checkbox.checkbox_blue.chkbx-wrap
              img.checked(src='/ui_kit/formelements/images/checked.svg')
            p.margin.text-default.text-default_lowercase Кроватка
          .row
            .checkbox.chkbx-wrap
            p.margin.text-default.text-default_lowercase Телевизор
          .row
            .checkbox.chkbx-wrap
            p.margin.text-default.text-default_lowercase Шампунь
          
